/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

// Layer definitions
#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

// Battery-saving timeout settings
#define IDLE_TIMEOUT 300000     // 5 minutes in milliseconds
#define SLEEP_TIMEOUT 1800000   // 30 minutes in milliseconds

// SPI is now configured via shield overlays

/ {
    behaviors {
        // Easier hold-tap for beginners
        bht: balanced_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <150>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
    };

    // Conditional layers activation
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };
    
    // Power management configuration
    power_management {
        compatible = "zmk,power-management";
        idle-timeout-ms = <IDLE_TIMEOUT>;
        sleep-timeout-ms = <SLEEP_TIMEOUT>;
    };

    // Keymap configuration
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
   &kp ESC     &kp Q      &kp W      &kp E      &kp R          &kp T      &kp Y      &kp U      &kp I      &kp O      &kp P
// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
   &kp TAB     &kp A      &kp S      &kp D      &kp F          &kp G      &kp H      &kp J      &kp K      &kp L      &kp SEMI
// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
   &kp LSHFT   &kp Z      &kp X      &kp C      &kp V          &kp B      &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
// ╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                     &kp LALT   &mo LOWER      &kp SPACE  &mo RAISE  &kp ENTER
//                                  ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        lower_layer {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
   &kp GRAVE   &kp N1     &kp N2     &kp N3     &kp N4         &kp N5     &kp N6     &kp N7     &kp N8     &kp N9     &kp N0
// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
   &trans      &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT       &kp BSLH   &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp SQT
// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
   &trans      &kp F1     &kp F2     &kp F3     &kp F4         &kp F5     &kp F6     &kp F7     &kp F8     &kp F9     &kp F10
// ╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                     &trans     &trans         &kp BSPC   &trans     &kp DEL
//                                  ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        raise_layer {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
   &kp TILDE   &kp EXCL   &kp AT     &kp HASH   &kp DLLR       &kp PRCNT  &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR   &kp RPAR
// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
   &trans      &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC       &kp PIPE   &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp DQT
// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
   &trans      &kp F11    &kp F12    &trans     &trans         &trans     &trans     &trans     &trans     &trans     &kp QUESTION
// ╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                     &kp LGUI   &trans         &kp LCTRL  &trans     &trans
//                                  ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        adjust_layer {
            bindings = <
// ╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
   &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3  &bt BT_SEL 4 &trans &trans &trans &trans &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
   &out OUT_TOG &rgb_ug RGB_TOG &rgb_ug RGB_EFF &rgb_ug RGB_HUI &rgb_ug RGB_SAI  &rgb_ug RGB_BRI &trans &trans &trans &trans &trans
// ├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
   &ext_power EP_TOG &ext_power EP_ON &ext_power EP_OFF &rgb_ug RGB_HUD &rgb_ug RGB_SAD  &rgb_ug RGB_BRD &trans &trans &trans &trans &trans
// ╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                     &bootloader &sys_reset     &sys_reset &bootloader &trans
//                                  ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};

// RGB Underglow configuration
&led_strip {
    chain-length = <30>;
};

/ {
    chosen {
        zmk,underglow = &led_strip;
    };
};